<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="in.sp.beans.Address" id="addId">
        <constructor-arg value="121"/>
        <constructor-arg value="fbd"/>
        <constructor-arg value="121004"/>
    </bean>
    <bean class="in.sp.beans.Student" id="stdId">
        <constructor-arg value="001"/>
        <constructor-arg value="taran"/>
        <constructor-arg ref="addId"/>
    </bean>

</beans>